{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Физическая подготовка к горам</h1>
<p><b>➢Горный поход, трекинг или восхождение, - это ситуация, когда организм попадает в непривычную среду. На высоте он испытывает сильный стресс, а дополнительная физическая нагрузка увеличивает его в несколько раз. Чтобы снизить воздействие этого стресса необходимо заранее уделить время физической подготовке.</p>
<p1>●Первый вид - это кардионагрузки, тренирующие вашу аэробную выносливость. В любом горном походе, независимо от маршрута, вы будете проходить гораздо большее количество километров, чем на равнине. А это требует выносливости как мышц, так и сердечно-сосудистой системы.

Примеры кардионагрузок, которые отлично подойдут для подготовкик горам:
медленный бег с постепенным увеличением его продолжительности
ходьба по лестнице вверх и вниз
ходьба с рюкзаком за спиной для имитации походных условий
беговые лыжи
велосипед, эллиптический тренажер и плавание в качестве восстановительных тренировок

Второй вид нагрузки, обязательный для подготовки к горам - это силовые тренировки на отдельные группы мышц. Чтобы мышцы выдерживали монотонную длительную нагрузку в течение всех дней похода им нужна сила. Без этого вы довольно быстро почувствуете усталость и ощутите “забитость мышц".

Особое внимание нужно уделить мышцам ног и спины, так как именно они испытывают максимальную нагрузку в горном походе. Упражнения могут быть самые разные, всегда можно выбрать то, что нравится больше. Каждое упражнение рекомендуется выполнять 3 подхода по 12-15 раз или до чувства усталости. Главный принцип - делать больше повторений с меньшим весом.

Выбирайте любимые упражнения и добавляйте их в свою тренировку:
    <p> </p>
<p>✓ приседания</p>
<p>✓ махи ногами</p>
<p>✓ подъёмы на носки</p>
<p>✓ выпады</p>
<p>✓ отжимания</p>
<p>✓ подтягивания</p>
<p>✓ скручивания на пресс</p1></b>

<h2><img src ="{% static "images/turizm2.png" %}" width="700" height="500" ></a>  <img src ="{% static "images/turizm1.png" %}" width="500" height="500" ></a></h2> </h2>

<h3>Общие принципы физической подготовки к горам</h3>

<h4>1 Медицинский осмотр</h4>
<p>Перед тем как начать тренировки, рекомендуется пройти медицинское обследование, чтобы исключить хронические болезни и сразу узнать о наличии противопоказаний.</p>

<h5>2 Адаптация</h5>
<p>Общеизвестный принцип о том, что нельзя встать с дивана и пробежать 10 км без последствий. Необходимо постепенное увеличение нагрузки. Если говорить о беге, то сначала можно чередовать бег и ходьбу, со временем увеличивая интервалы бега и сокращая ходьбу.</p>

<h6>3 Регулярность</h6>
<p>В жизни бывают разные обстоятельства, можно пропустить одну-две тренировки без ущерба общей форме. Если же вы пропускаете неделю и более, то будьте готовы к тому, что нагрузку нужно будет снизить. Иногда приходится и вовсе начинать сначала. С этим нужно смириться, чтобы не получить травм от перегрузки мышц.</p>

<h6>4 Комплексность</h6>
<p>Правильное сочетание кардиотренировок и силовых нагрузок принесёт гораздо больше пользы, чем ограничение только кардионагрузками. Комплексный и разнообразный подход позволит укрепить весь организм и предотвратить возникновение травм.</p>

<h6>5 Питание</h6>

<p>Оно должно быть правильным и сбалансированным. Не стоит перед походом в горы сильно менять свой рацион и садиться на диеты. Это будет дополнительным стрессом для организма. В горах вам потребуется весь запас витаминов и калорий, которые вы накопите на равнине.</p>
<h6>6 Отдых</h6>

<p>Не забывайте восстанавливаться после тренировок. Сон - это обязательная часть жизни. Именно во время сна происходит восстановление и укрепление наших мышц. Без полноценного отдыха эффект от тренировки будет обратный.</p>
<h6>7 Снижение нагрузки перед походом</h6>

<p>Примерно за две недели до похода необходимо снизить физическую нагрузку и заменить её восстановительными тренировками. Организм должен набраться сил перед предстоящими нагрузками. Это может быть велосипед, плавание или лёгкая прогулка.</p>

<h2><img src ="{% static "images/gori.png" %}" width="1200" height="800" >

<h3>Мы хотим помочь вам!</h3>
    <p><b>Представьте себе: вы на краю земли, где каждый новый поворот открывает великолепие природы, культуру и необыкновенные традиции. Мы в TREVELERS понимаем, что истинное путешествие начинается с правильной подготовки. Наш магазин — ваш надежный спутник на пути к незабываемым мгновениям!</b></p>


<p><b> Мы предлагаем широкий ассортимент товаров, которые сделают ваше путешествие комфортным и безопасным. От высококачественного туристического снаряжения, палаток и спальных мешков до стильной экипировки и аксессуаров — у нас есть всё, чтобы удовлетворить потребности каждого путешественника! 🌄🎒</b></p>




{% endblock %} 